.Info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 140;

  .InfoCardBorder {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 140;
    clip-path: polygon(1% 1%, 100% 0%, 100% 100%, 1% 99%);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .InfoCard {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid black;
      width: 100%;
      height: 100%;
      z-index: 140;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip-path: polygon(2% 2%, 98% 1%, 98% 98%, 2% 98%);

      .TopCard {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;

        .TopLeftBorder {
          width: 55%;
          height: 100%;
          background-color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);

          .TopLeft {
            padding: 1em;
            background-size: cover;
            width: 100%;
            height: 100%;
            clip-path: polygon(2% 2%, 98% 2%, 68% 98%, 2% 98%);
            text-align: left;
          }
        }

        .TopRightBorder {
          width: 60%;
          height: 100%;
          margin-left: -10%;
          background-color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: polygon(
            0 68%,
            16% 44%,
            26% 8%,
            100% 8%,
            100% 100%,
            8% 100%,
            16% 60%
          );

          .TopRight {
            background-color: white;
            width: 100%;
            height: 100%;
            clip-path: polygon(30% 10%, 98% 10%, 98% 98%, 12% 98%);
          }
        }

        .ItemCard {
          img {
            width: 90%;
            height: 90%;
          }
        }

        .ItemDescription {
          padding-top: 20%;
          display: flex;
          flex-direction: column;

          .ItemDescriptionElement {
            font-weight: bold;
            padding: 1em;
          }

          .ItemDescriptionDifficulty {
            padding: 1em;
            width: 80%;
            margin-left: 2em;
          }

          .ItemDescriptionImage {
            height: 10%;
            width: 100%;
            padding-bottom: 1em;
            font-weight: bold;
            img {
              width: 10%;
            }
          }

          .ItemDescriptionText {
            height: 90%;
            width: 100%;
            padding-left: 30%;
            padding-right: 1em;
            text-align: left;
            overflow: scroll;
          }
        }
      }

      .BottomCard {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;

        .ItemData {
          .ItemDataHeader {
            background-color: white;
            height: 2em;
          }

          .ItemDataButtons {
            background-color: white;
            padding: 1em;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: space-around;
            justify-content: space-evenly;
            gap: 10px 5px;
            font-size: 10px;
          }

          .ItemDataList {
            display: flex;
            align-items: center;
            align-content: space-around;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
