.Fight {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  border: 5px solid red;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}

.FightBackround {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.EnemyCard {
  position: absolute;
  top: 2em;
  left: 2em;
  padding: 1em;
  width: 30%;
  height: 80%;
  background-color: hotpink;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EnemyCard.trump,
.HeroCard.trump {
  background-color: red;
}

.HeroCard {
  position: absolute;
  top: 3em;
  left: 8em;
  padding: 3em;
  width: 30%;
  height: 80%;
  background-color: cyan;
  z-index: 100;
}

.BigSpellImage {
  width: 100px;
}

.FightResult {
  position: absolute;
  top: 2em;
  left: 2em;
  padding: 3em;
  width: 80%;
  height: 80%;
  background-color: gold;
  z-index: 100;
}

.CharacterBox {
  border: 1px solid yellow;
  width: 60%;
  height: 100%;
}

.Stats {
  width: 100%;
  border: 1px solid black;
  height: 10%;
  background-color: white;
}

.Enemy {
  width: 100%;
  border: 1px solid black;
  height: 80%;
}

.Enemy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
