.HeroBlock {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Info {
  width: 100%;
  height: 20%;
  background-color: pink;
}

.Card {
  width: 100%;
  background-color: mediumseagreen;
}

.Deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}

.Characters {
  display: flex;
}

.Character {
  margin: 1em;
}
