.HeroBlock {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.Info {
  width: 100%;
  height: 20%;
  background-color: pink;
}

.Card {
  width: 100%;
  background-color: mediumseagreen;
}

.Deck {
  display: flex;
}

.Spell {
  width: 100px;
  height: 130px;
}

.SpellCard {
  background-color: mediumslateblue;
  width: 100px;
  height: 130px;
}

.SpellCard.active {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.SpellCard.inactive {
  border: 1px solid green;
  width: 100%;
  height: 100%;
}

.SpellCard.trump {
  border: 1px solid violet;
  background-color: red;
  width: 100%;
  height: 100%;
}

.SpellCard.standard {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.SmallCardImage {
  width: 50px;
}

.SmallCardFrame {
  width: 50px;
  position: absolute;
}
