.TopMenu {
  text-align: left;
  padding-left: 1em;
  width: 50%;
  height: 3em;
  margin-top: 0.5em;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
}

.Resources {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Resource {
  margin: 0.5em;
}

.Stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Lightning {
  width: 2em;
  height: 2em;
  background-color: blueviolet;
  clip-path: polygon(62% 0, 57% 43%, 81% 43%, 25% 100%, 35% 59%, 12% 59%);
}

.Heart {
  width: 2em;
  height: 2em;
  background-color: palevioletred;
  clip-path: polygon(
    50% 31%,
    80% 10%,
    100% 24%,
    100% 47%,
    75% 76%,
    50% 100%,
    23% 74%,
    0 47%,
    0 23%,
    20% 10%
  );
}

.StatsValue {
  width: 3em;
  height: 1em;
}
