.Stories {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.StoriesList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10%;

  .ChevronTop {
    margin-top: 15%;
    z-index: 100;
  }
}

.StoriesList img {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.StoryGroup_1,
.StoryGroup_2,
.StoryGroup_3,
.StoryGroup_4,
.StoryGroup_5 {
  width: 95%;
  height: 95%;
  position: relative;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.StoryGroup_1 .Story1 {
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  width: 100%;
  height: 60%;
}
.StoryGroup_1 .Story1 .FightIcons {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.StoryGroup_1 .Story2 {
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  width: 40%;
  height: 65%;
}

.StoryGroup_1 .Story3 {
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  width: 55%;
  height: 50%;
}

.StoryGroup_2 .Story1 {
  position: absolute;
  height: 100%;
  width: 40%;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}

.StoryGroup_2 .Story2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 55%;
  width: 55%;
}

.StoryGroup_2 .Story3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40%;
  width: 95%;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

.StoryGroup_3 .Story1 {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  width: 40%;
  height: 60%;
}

.StoryGroup_3 .Story2 {
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  width: 55%;
  height: 45%;
}

.StoryGroup_3 .Story3 {
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  height: 66%;
}

.StoryGroup_4 .Story1 {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
  width: 55%;
  height: 60%;
}

.StoryGroup_4 .Story2 {
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  width: 55%;
  height: 47%;
}

.StoryGroup_4 .Story3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}

.StoryGroup_1 .Story1 .FightIcons,
.StoryGroup_2 .Story1 .FightIcons,
.StoryGroup_2 .Story2 .FightIcons,
.StoryGroup_3 .Story1 .FightIcons,
.StoryGroup_3 .Story2 .FightIcons,
.StoryGroup_4 .Story1 .FightIcons,
.StoryGroup_4 .Story3 .FightIcons {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 5px;
}

.StoryGroup_1 .Story2 .FightIcons,
.StoryGroup_1 .Story3 .FightIcons,
.StoryGroup_2 .Story3 .FightIcons,
.StoryGroup_3 .Story3 .FightIcons,
.StoryGroup_4 .Story2 .FightIcons {
  width: 70px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.FightIcons {
  display: flex;
  flex-direction: row;
}
.FightIcons div {
  flex-grow: 1;
}
