.Stories {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 5px solid orange;
  width: 100%;
  height: 100%;
}

.StoriesList {
  display: flex;
  flex-direction: row;
}

.Story {
  height: 300px;
  padding: 1em;
}
