.Adventures {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
}

.AdventuresList {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.Adventure_character {
  position: absolute;
  display: flex;
  top: 3em;
  right: 17em;
  height: 50%;
  width: 20%;
  border: 3px solid black;
  z-index: 1;
}

.AdventureName {
  position: absolute;
  z-index: 50;
  width: 100%;
}

.Adventures img {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.Adventure_story {
  object-fit: cover;
  height: 100%;
}
.Adventure_arena {
  object-fit: cover;
  height: 100%;
}

.Adventure_story_border {
  position: absolute;
  padding: 0.5em;
  top: 10%;
  width: 70%;
  height: 35%;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  background-color: black;
}

.Adventure_arena_border {
  position: absolute;
  padding: 0.5em;
  padding-top: 0;
  top: 30%;
  width: 70%;
  height: 30%;
  clip-path: polygon(0 65%, 100% 0, 100% 100%, 0% 100%);
  background-color: black;
}

.Adventure_arena .AdventureName {
  position: absolute;
  padding: 1em;
  width: 50%;
  bottom: 0;
  left: 0;
  color: white;
}

.Adventure_story .AdventureName {
  padding: 1em;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}
.Adventure_torunament {
  border: 0.5em solid black;
  position: absolute;
  top: 65%;
  bottom: 0;
  width: 70%;
  height: 30%;
  object-fit: cover;
}

.Adventure_event {
  position: absolute;
  top: 2em;
  right: 1em;
  height: 90%;
  border: 0.5em solid black;
  width: 25%;
  object-fit: cover;
}

.Adventure_event .AdventureName {
  position: absolute;
  width: 100%;
  margin-top: 3em;
}
