.Adventures {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;

  .AdventuresTop {
    margin-top: 15%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;

    .AdventureStoryBorder {
      width: 100%;
      height: 50%;
      clip-path: polygon(5% 4%, 100% 0, 95% 75%, 0 100%);
      background-color: black;
      .AdventureStory {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        color: white;
        width: 100%;
        height: 100%;
        clip-path: polygon(10% 10%, 98% 5%, 93% 70%, 1% 98%);
      }
    }

    .AdventureArenaBorder {
      width: 100%;
      height: 50%;
      margin-top: -5%;
      background-color: black;
      clip-path: polygon(0% 30%, 100% 0, 95% 95%, 0 100%);

      .AdventureArena {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        height: 100%;
        clip-path: polygon(3% 35%, 98% 5%, 93% 90%, 0% 98%);
      }
    }
  }

  .AdventuresBottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 5px;

    .AdventureTournamentBorder {
      width: 50%;
      height: 100%;
      background-color: black;
      clip-path: polygon(4% 3%, 100% 0, 96% 95%, 0 100%);

      .AdventureTournament {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-size: cover;
        width: 100%;
        height: 100%;
        clip-path: polygon(8% 6%, 98% 2%, 92% 90%, 2% 99%);
      }
    }
    .AdventureEventBorder {
      width: 50%;
      height: 100%;
      background-color: black;
      clip-path: polygon(4% 3%, 100% 0, 96% 95%, 0 100%);

      .AdventureEvent {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-size: cover;
        width: 100%;
        height: 100%;
        clip-path: polygon(8% 6%, 98% 2%, 92% 90%, 2% 99%);
      }
    }
  }
}
