.Heroes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.HeroesBackground {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 1em;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip-path: polygon(6% 9%, 100% 0%, 94% 88%, 0% 100%);
}

.HeroesBackgroundBorder {
  clip-path: polygon(6% 9%, 100% 0%, 94% 88%, 0% 100%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.StoryHeroes {
  background-color: gold;
  width: 100%;
  height: 90%;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
}

.HeroesPresent {
  display: flex;
  flex-direction: row;
  z-index: 10;
  margin-top: 2em;
  height: 90%;
}

.StoryHeroes .HeroesPresent {
  display: flex;
  flex-direction: row;
  z-index: 10;
  height: 90%;
}

.HeroImage {
  height: 40%;
  z-index: 10;
}

.StoryHeroes .HeroImage {
  z-index: 10;
  background-color: red;
}

.HeroImage.inactive {
  height: 25%;
}

.StoryHeroes .HeroImage.active {
  height: 70%;
}

.HeroImage.active {
  height: 40%;
  z-index: 10;
  margin: 1em;
}

.StoryHeroes .Action {
  width: 100%;
}
