.Main {
  display: flex;
  flex-direction: row;
  border: 5px solid blue;
  width: 100%;
  height: 100%;
}

h2 {
  margin: 0;
}

.College {
  display: flex;
  flex-direction: row;
  border: 5px solid pink;
  width: 100%;
  height: 100%;
}

.MainMenu {
  position: absolute;
  bottom: 0;
  z-index: 50;
}
