.Main {
  display: flex;
  flex-direction: row;
  border: 5px solid blue;
  width: 100%;
  height: 100%;
}

h2 {
  margin: 0;
}

.Spells {
  display: flex;
  flex-direction: row;
  border: 5px solid yellow;
  width: 100%;
  height: 100%;
}

.College {
  display: flex;
  flex-direction: row;
  border: 5px solid pink;
  width: 100%;
  height: 100%;
}

.Adventures {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.AdventuresList {
  display: flex;
  flex-direction: row;
}

.Adventure {
  height: 300px;
  padding: 1em;
}

.Spells {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.SpellsList {
  display: flex;
  flex-direction: row;
}

.SpellPanel {
  height: 300px;
  padding: 1em;
}

.Heroes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid green;
  width: 100%;
  height: 100%;
}

.HeroesList {
  display: flex;
  flex-direction: row;
}

.Hero {
  height: 300px;
}

.MainMenu {
  position: absolute;
  bottom: 0;
}
