body,
html,
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 1218px;
  height: 562px;
  background-color: red;
}

.Main {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.Top {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  background-color: burlywood;
}

.Top div{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.CloseButton{
  position: absolute;
  right:0;
  width: 30px;
  height: 30px;
  background-color: black;
}

.Bottom {
  width: 100%;
  height: 90%;
  flex-direction: row;
  display: flex;
  background-color: salmon;
}

.Bottom .Chars{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  background-color: aqua;
}

.Bottom .Chars .Character{
  height: 90%;
  width: 40%;
  border: 1px solid black;
  margin: 1em;
  background-color: darkcyan;
}

.Bottom .Sections{
  height: 100%;
  width: 40%;
  flex-direction: column;
  background-color: lightblue;
}

.Bottom .Sections .Section{
  height: 30%;
  border: 1px solid black;
  width: 90%;
  margin: 1em;
  flex-direction: row;
  background-color: seashell;
}

.Bottom .Menu{
  height: 100%;
  width: 10%;
  flex-direction: row;
  background-color: aquamarine;
}

.Bottom .Menu .Button{
  height: 10%;
  width: 70%;
  margin: 1em;
  flex-direction: row;
  background-color: green;
}

.Element{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.Element .Content{
  background-color: rosybrown;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Element .Content .Static{
  width: 30%;
  margin-top: 30px;
  height: 90%;
  background-color: aqua;
  border: 1px solid black;
}

.Element .Content .Event{
  width: 30%;
  margin-top: 30px;
  height: 90%;
  background-color: gold;
  border: 1px solid black;
}

.Element .Content .Quest{
  width: 40%;
  margin-top: 30px;
  height: 90%;
  background-color: palevioletred;
  border: 1px solid black;
}