.HomeContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .Items {
    background-color: #b4fcfc;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Item {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }

  .Adventures {
    background-color: #52ffff;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Adventure {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }

  .Menues {
    background-color: #00bbbb;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Menu {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }
}

.WeaponsContainer {
  background-color: #f394de;
  height: 100%;

  .Weapons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .Weapon {
      flex-grow: 1;
      align-items: stretch;
      border: 1px solid black;
      max-height: 15em;

      .WeaponElements {
        display: flex;
        flex-direction: column;
        margin-top: 3em;

        .Open {
          background-color: turquoise;
        }

        .Charge {
          background-color: yellow;
        }

        .Closed {
          background-color: gray;
        }
      }
    }
  }

  .WeaponList {
    background-color: #b92999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .WeaponItem {
      border: 1px solid black;
      min-height: 3em;
    }

    .WeaponDetail {
      border: 1px solid black;
      min-height: 8em;

      .Weapon {
        display: flex;
        flex-direction: row;

        .WeaponImage {
          background-color: #f394de;
          margin: 1em;
          width: 40%;
          height: 100%;
          min-height: 8em;
          min-width: 5em;
        }

        .WeaponText {
          width: 60%;
          height: 100%;
          margin: 1em;
        }
      }
    }
  }
}

.InventoryContainer {
  width: 100%;
  height: 100%;
  background-color: #f1f524;
  padding-top: 1em;

  .Inventory {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .InventoryItem {
      border: 1px solid black;
      min-width: 50%;
      min-height: 5em;
    }
  }
}

.TopMenu {
  width: 100%;
  height: 7%;
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .Material {
    border: 1px solid black;
    flex-grow: 1;
  }
}

.PopUp {
  width: 100%;
  height: 93%;
  background-color: salmon;
  position: relative;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 300%;
  z-index: 1000;
}
