.HomeContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .Items {
    background-color: #b4fcfc;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Item {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }

  .Adventures {
    background-color: #52ffff;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Adventure {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }

  .Menues {
    background-color: #00bbbb;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Menu {
      width: 100%;
      flex-grow: 1;
      border: 1px solid black;
    }
  }
}

.WeaponsContainer {
  background-color: #f394de;
  height: 100%;

  .Weapons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .Weapon {
      flex-grow: 1;
      align-items: stretch;
      border: 1px solid black;
      max-height: 15em;

      .WeaponElements {
        display: flex;
        flex-direction: column;
        margin-top: 3em;

        .Open {
          background-color: turquoise;
        }

        .Charge {
          background-color: yellow;
        }

        .Closed {
          background-color: gray;
        }
      }
    }
  }

  .WeaponList {
    background-color: #b92999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .WeaponItem {
      border: 1px solid black;
      min-height: 3em;
    }

    .WeaponDetail {
      border: 1px solid black;
      min-height: 8em;

      .Weapon {
        display: flex;
        flex-direction: row;

        .WeaponImage {
          background-color: #f394de;
          margin: 1em;
          width: 40%;
          height: 100%;
          min-height: 8em;
          min-width: 5em;
        }

        .WeaponText {
          width: 60%;
          height: 100%;
          margin: 1em;
        }
      }
    }
  }
}

.InventoryContainer {
  width: 100%;
  height: 100%;
  background-color: #f1f524;
  padding-top: 1em;

  .Inventory {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .InventoryItem {
      border: 1px solid black;
      min-width: 50%;
      min-height: 5em;
      display: flex;
      flex-direction: row;

      .InventoryItemImage {
        background-color: #f4ff23;
        width: 40%;
        height: 100%;
        min-height: 2em;
        min-width: 2em;
      }

      .InventoryItemText {
        width: 60%;
        height: 100%;

        button {
          height: 2em;
          margin: 0.5em;
        }

        div {
          height: 2em;
          margin: 0.5em;
        }
      }
    }
  }
}

.GoalsContainer {
  background-color: #f3b694;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .Goal {
    border: 1px solid black;

    .GoalItem {
      display: flex;
      flex-direction: row;

      .GoalDescription {
        display: flex;
        flex-direction: column;
        width: 70%;

        .GoalRewards {
          border: 1px solid black;
          background-color: #f28a4f;
          margin-top: 0.5em;
        }
      }

      .GoalActions {
        text-align: center;
        width: 30%;
      }
    }
  }
}

.CollectionsContainer {
  background-color: #94a9f3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .CollectionItem {
    min-height: 3em;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;

    .CollectionItemTitle {
      width: 70%;
    }

    .CollectionItemNumber {
      width: 30%;
    }
  }

  .Collection {
    background-color: #466cf5;
    height: 100%;
    width: 100%;
  }
}

.MessagesContainer {
  background-color: #96f394;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .Message {
    min-height: 3em;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;

    .MessageText {
      width: 70%;
    }

    .MessageActions {
      width: 30%;
      display: flex;
      flex-direction: column;
    }
  }
}

.AdventuresContainer {
  background-color: #52ffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .Adventures {
    min-height: 3em;
    display: flex;
    flex-direction: column;

    .AdventuresStories {
      min-height: 3em;
      border: 1px solid black;
      padding: 1em;

      .AdventuresStoriesList {
        display: flex;
        flex-direction: row;

        .AdventuresStory {
          background-color: #00bbbb;
          border: 1px solid black;
          height: 5em;
          max-width: 30%;
          margin: 1em;
        }
      }
    }

    .AdventuresEndless {
      min-height: 3em;
      border: 1px solid black;
      padding: 1em;

      .AdventuresEndlessList {
        display: flex;
        flex-direction: row;

        .AdventureEndless {
          background-color: #00bbbb;
          border: 1px solid black;
          height: 5em;
          width: 50%;
          margin: 1em;
        }
      }
    }

    .AdventuresQuests {
      min-height: 3em;
      border: 1px solid black;
      padding: 1em;

      .AdventuresQuestList {
        display: flex;
        flex-direction: row;

        .AdventureQuest {
          background-color: #00bbbb;
          border: 1px solid black;
          height: 5em;
          margin: 1em;
        }
      }
    }
  }

  .Adventure {
    background-color: #52ffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .AdventureList {
      display: flex;
      flex-direction: row;

      .Story {
        background-color: #00bbbb;
        border: 1px solid black;
        max-width: 30%;
        margin: 0.5em;
        padding: 0.5em;
      }
    }
  }
}

.ArenaContainer {
  background-color: #8952ff;
  height: 100%;
  width: 100%;

  .ArenaEvents {
    background-color: #8952ff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .ArenaType {
      width: 50%;

      .ArenaEvent {
        min-height: 30%;
        border: 1px solid black;
        padding: 1em;
      }
    }
  }
}

.TopMenu {
  width: 100%;
  height: 7%;
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .Material {
    border: 1px solid black;
    flex-grow: 1;
  }
}

.GameContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .GameUI {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .Player {
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: 0;
      background-color: green;
      border: 1px solid yellow;
    }

    .Control {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .GameLevelMap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    //align-content: center;

    .GameLevel {
      position: absolute;
      bottom: 0px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;

      .MapRow {
        width: 100%;
        background-color: #00bbbb;
        display: flex;
        flex-direction: row;

        .MapCell {
          width: 100%;
          min-width: 80px;
          min-height: 80px;
          border: 1px solid black;
        }

        .obstacle {
          background-color: black;
        }
      }

      .enemy {
        background-color: red;
        position: absolute;
        height: 80px;
        width: 80px;
      }
    }
  }
}

.ReelContainer {
  background-color: red;
  width: 100%;
  height: 100%;

  .Reel {
    background-color: #96f394;
    width: 100%;
    height: 100%;

    .p4topRiht {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00bbbb;

      div {
        position: absolute;
        border: 3px solid black;
      }
      .panel0 {
        top: 0;
        width: 100%;
        height: 30%;
      }

      .panel1 {
        top: 30%;
        left: 0;
        width: 50%;
        height: 35%;
      }
      .panel2 {
        top: 65%;
        left: 0;
        width: 50%;
        height: 35%;
      }
      .panel3 {
        top: 30%;
        left: 50%;
        width: 50%;
        height: 70%;
      }
    }
    .p5top3 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #466cf5;

      div {
        position: absolute;
        border: 3px solid black;
      }
      .panel0 {
        top: 0;
        width: 30%;
        height: 60%;
        left: 0;
      }
      .panel1 {
        top: 0;
        width: 30%;
        height: 60%;
        left: 30%;
      }
      .panel2 {
        top: 0;
        width: 40%;
        height: 60%;
        left: 60%;
      }
      .panel3 {
        top: 60%;
        width: 60%;
        height: 40%;
        left: 0;
      }
      .panel4 {
        top: 60%;
        width: 40%;
        height: 40%;
        left: 60%;
      }
    }

    .p1full {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #8952ff;

      div {
        position: absolute;
        border: 3px solid black;
        width: 100%;
        height: 100%;
      }
    }

    .p4bottomRight {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #94a9f3;

      div {
        position: absolute;
        border: 3px solid black;
      }
      .panel0 {
        top: 0;
        width: 30%;
        height: 60%;
        left: 0;
      }
      .panel1 {
        top: 0;
        width: 30%;
        height: 60%;
        left: 30%;
      }
      .panel2 {
        top: 0;
        width: 40%;
        height: 60%;
        left: 60%;
      }
      .panel3 {
        top: 60%;
        width: 100%;
        height: 40%;
        left: 0;
      }
    }
  }
}

.PopUp {
  width: 100%;
  height: 93%;
  background-color: salmon;
  position: relative;
}

.SmallPopUp {
  width: 100%;
  height: 50%;
  background-color: deepskyblue;
  position: relative;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 300%;
  z-index: 1000;
}
