.Dialogues {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .Dialogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .DialogueCharacter {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      margin-left: -5%;
    }

    .DialogueTopBorder {
      height: 60%;
      width: 100%;

      .DialogueTop {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .DialogueSingleBorder {
          background-color: black;
          clip-path: polygon(6% 2%, 70% 5%, 100% 95%, 3% 100%);
          width: 95%;
          height: 100%;

          .DialogueSingle {
            width: 100%;
            height: 100%;
            clip-path: polygon(8% 4%, 68% 8%, 98% 94%, 4% 99%);
          }
        }

        .DialogueDouble {
          margin-top: 10%;
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .DialogueDoubleBorderLeft {
            width: 60%;
            height: 100%;
            background-color: black;
            clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);

            .DialogueDoubleLeft {
              height: 100%;
              height: 100%;
              background-color: palevioletred;
              clip-path: polygon(5% 3%, 98% 2%, 48% 98%, 0% 100%);
              background-size: cover;
            }
          }

          .DialogueDoubleBorderRight {
            width: 50%;
            margin-left: -20%;
            margin-top: 10%;
            height: 90%;
            background-color: black;
            clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);

            .DialogueDoubleRight {
              height: 100%;
              height: 100%;
              background-color: violet;
              clip-path: polygon(55% 3%, 98% 2%, 95% 98%, 0% 100%);
              background-size: cover;
            }
          }
        }
      }
    }
    .DialogueBottomBorder {
      height: 40%;
      width: 100%;
      background-color: black;
      clip-path: polygon(6% 6%, 100% 0%, 94% 97%, 0% 100%);

      .DialogueBottom {
        width: 100%;
        height: 100%;
        padding: 1em;
        clip-path: polygon(10% 10%, 98% 2%, 90% 95%, 2% 98%);
        background-color: white;

        .DialogueLines {
          padding: 2em;
          text-align: left;
        }
      }
    }
  }
}
